
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

@import url("https://fonts.google.com/specimen/Nunito");
@import url("https://fonts.google.com/specimen/Cinzel");

body{
    background: lightcyan;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
}

h1,h2,h3{
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-style: normal;
    padding: .2em 0;
}

p{
    margin: 1.8em 0;
    line-height: 1.8em;
}

header,nav,main,aside,footer{
    padding: 1.5em;
    border: 1px black solid;
}

header, footer{
    text-align: center;
}

aside{
    color: white;
}
footer{
    color: white
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    background: lightseagreen;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
    1fr         2fr       1fr;
    grid-template-areas: 
    "heady      heady     heady"
    "navvy      navvy     navvy"
    "aside1     mainy     aside2"
    "aside1     mainy     aside2"
    "aside1     mainy     aside2"
    "footy      footy     footy";
}

header {grid-area: heady; background: #91ffcd;}
nav {grid-area: navvy; background: lightgrey;}
main {grid-area: mainy; background: #8AA6A3; max-height: 100%;}
#aside1 {grid-area: aside1; background: #127369;}
#aside2 {grid-area: aside2; background: #10403B;}
footer {grid-area: footy; background: #4c5958;}

nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
}

@media screen 
    and (min-width: 641px)
    and (max-width: 900px){
.container{
grid-template-columns: 
    1fr 1fr;
grid-template-areas: 
    "heady heady"
    "navvy navvy"
    "mainy mainy"
    "aside1 aside2"
    "footy footy";
}

}

@media screen 
    and (max-width: 640px) {
.container {
grid-template-columns: 
    1fr;
grid-template-areas: 
    "heady"
    "mainy"
    "aside1"
    "aside2"
    "navvy"
    "footy";
}

nav ul{
    flex-flow: column nowrap;
    text-align: center;
}
 
nav ul li a {
    display: block;
    padding: 10px 5px;
    margin: 5px;
    border: 1px black solid;
    background: white;
}
}