   
 body {
  background: rgb(255, 255, 255);
  font-family: 'Nunito', sans-serif;
  color:bisque;
  font-weight: 300;
  font-size: 15px;
}

h1,
h2,
h3 {
  font-family: 'Akaya Telivigala', serif;
  font-weight: normal;
  padding: .2em 0;
}

p {
  margin: 1.8em 0;
  line-height: 1.8em;
  font-size: 1.2em;
}

h1 {font-size: 2.5em;}

h2 {font-size:2.0em;}

h3 {font-size: 1.5em;}


header,
#about,
main,
aside,
footer {
  padding: 1.5em;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}


a{
  color: rgb(0, 0, 0);
  background-color: #BFB1C1;
  padding: 8px 8px;      
  border-radius: 4px;      
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-decoration: none;
}

nav a:hover {
      background-color: #645153;
      color: #ffffff;
    }

aside h2{
  color: rgb(61, 61, 61);
}

nav {
  padding: 1.5em;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;     
  height: 70px;            
  padding: 0 10px;
}

#about img { 
  display: block;
  margin: 0 auto;
  justify-self: center;
  align-self: center;
  width: 35%;
  height: auto;
  margin-bottom: 50px;
}

aside p{
  font-size: 1.0em;
}

header,
footer {
  text-align: center;
}

li {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.container {
grid-template-columns:
   1fr;
grid-template-areas:
  "heady"
  "navvy"
  "about"
  "aside1"
  "footy";
}

header {grid-area: heady; background:#5B8A8A;}
nav {grid-area: navvy; background:#fdfdfd;}
#about {grid-area: about; background: #5B8A8A; max-height: 100%;}
#aside1 {grid-area: aside1; background: #5B8A8A;}
main {grid-area: labs; background: #5B8A8A;}
footer {grid-area: footy; background: #5B8A8A;}


nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;     
  justify-content: right;
  gap: 10px;
  margin: 0;
  padding: 0;
  
}

nav ul li {
  list-style: none
}


@media screen and (min-width: 620px) {
.container {
grid-template-columns:
   1fr 1fr;
grid-template-areas:
  "heady heady"
  "navvy navvy"
  "about about"
  "aside1 aside1"
  "footy footy";
}


nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;     
  justify-content: right;
  gap: 20px;
  margin: 0;
  padding: 0;
  
}


nav ul li {
  list-style: none
}
}

@media screen and (min-width: 1200px)  {
.container {
  margin: 0 auto;
  background: rgb(255, 255, 255);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns:
   1fr       2.5fr       1fr;
  grid-template-areas:
  "heady     heady     heady"
  "navvy     navvy     navvy"
  "about    about     aside1"
  "about    about     aside1"
  "about    about     aside1"
  "footy     footy     footy";
}

}